.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .loading__item {
    border: 5px dashed;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: rotate 2s infinite linear;
  }
  .loading__text {
    position: absolute;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}